  <div class="container container-large">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          {% if site.owner.facebook.show == true %}<li><a class="grey-text text-lighten-3" href="{{ site.owner.facebook.url }}">Facebook:&nbsp;&nbsp;{{ site.owner.facebook.name }}</a></li>{% endif %}
          {% if site.owner.github.show == true %}<li><a class="grey-text text-lighten-3" href="https://github.com/{{ site.owner.github.username }}">GitHub:&nbsp;&nbsp;@{{ site.owner.github.username }}</a></li>{% endif %}
          {% if site.owner.twitter.show == true %}<li><a class="grey-text text-lighten-3" href="https://twitter.com/{{ site.owner.twitter.username }}">Twitter:&nbsp;&nbsp;@{{ site.owner.twitter.username }}</a></li>{% endif %}
          {% if site.owner.email %}<li><a class="grey-text text-lighten-3" href="mailto:{{ site.owner.email }}">Email:&nbsp;&nbsp;{{ site.owner.email }}</a></li>{% endif %}
          <li><a class="grey-text text-lighten-3" href="{{ "/privacy/" | prepend: site.baseurl }}">Privacy Policy and Tracking Opt-out</a></li>
        </ul>
      </div>
      <div class="col l6 offset-l2 s12 right-align">
        <h5 class="white-text"><b>{{ site.title }}</b> {{ site.site }}</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      Built for OpenNIC. All content &nbsp; <a href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="CC BY-SA 3.0" src="/assets/images/CC-BY-SA.png"></a> &nbsp; unless otherwise stated. <b><a href="https://github.com/opennic/opennic-web" class="white-text">Help edit this site on GitHub!</a></b>
    </div>
  </div>
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.opennic.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//matomo.opennic.org/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->
