<div class="navbar-fixed">
<nav class="white {{ site.color.navbar }}-text z-depth-0">
    <ul id="slide-out" class="side-nav">
        <li><a href="{{ site.baseurl }}/" class="{{ site.color.navbar }}-text">Home</a></li>
        {% for page in site.pages %}
            {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" class="{{ site.color.navbar }}-text">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="{{ site.color.navbar }}-text">Feed</a></li>
    </ul>
    <div class="container container-large">
    <a class="brand-logo" href="{{ site.baseurl }}/" class="orange-text"><span class="light {{ site.color.navbar }}-text"><b>{{ site.title }}</b> {{ site.site }}</span></a>
    <ul class="right hide-on-med-and-down">
        {% for page in site.pages %}
            {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" class="{{ site.color.navbar }}-text">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="{{ site.color.navbar }}-text">Feed</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse right orange-text"><i class="material-icons">menu</i></a>
    </div>
</nav>
</div>
