<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% if page.title %}{% t page.title %} &#124; {% t site.title %} {% t site.site %}{% else %}{% t site.title %} {% t site.site %}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% feed_meta %}
    <link type="text/css" rel="stylesheet" href="{{ "/assets/css/Material-icons.css" | prepend: site.baseurl }}" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{ "/assets/css/app.css" | prepend: site.baseurl }}" media="screen,projection">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript" src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/materialize.js" | prepend: site.baseurl }}"></script>
    <link rel="dns-prefetch" href="//matomo.opennic.org">
    <link rel="dns-prefetch" href="//api.opennic.org">
    <link rel="preload" href="https://matomo.opennic.org/piwik.js" onload="embedTracker()" as="script" crossorigin>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" integrity="sha256-RWqxpxUH7ZGrrhTJ0I+v+zc6e8cRpm5ENBt7i3u3KrQ=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" integrity="sha256-r0xmg4FKpSfK9TvePQIeaq/gCDO0Xy3q0EPIfteGRnQ=" crossorigin="anonymous"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000000"
        },
        "button": {
          "background": "#2196f3"
        }
      },
      "position": "bottom-right",
      "content": {
        "href": "https://www.opennic.org/privacy/"
      }
    })});
    </script>
</head>
