<!DOCTYPE html>
<html lang="{% if site.lang == "en" %}en-US{% else %}{{ site.lang }}{% endif %}">
{% include head.html %}
<body>
    <header>
        {% include header.html %}
    </header>
    <main>
        {{ content }}
    </main>
    <footer class="page-footer no-margin __top {{ site.color.footer }}">
        {% include footer.html %}
    </footer>
    <script type="text/javascript">
    $(function() {
        $(".button-collapse").sideNav();
        $('nav a').addClass('waves-effect');
    });
    </script>
</body>
</html>
