---
layout: default
---
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="white z-depth-0">
                      <div class="center-align"><h2 class="thin {{ site.color.main }}-text">{{ page.title }}</h2></div>
                      <div class="divider"></div>
                      <br/>
                      <article class="grey-text text-darken-2 post-content">
                      {{ content }}
                      </article>
                </div>
            </div>
        </div>
    </div>
</div>
