---
layout: default
---
<div class="container">
<div class="section">
    <div class="row">
        <div class="col s12">
            <div class="card-content">
                <div class="card-title center-align"><h2 class="thin {{ site.color.main }}-text">{{ page.title }}</h2></div>
                <h5 class="center-align grey-text text-darken-1 thin">Published on {{ page.date | date: "%B %-d, %Y" }}</h5>
                <br/>
                <div class="divider"></div>
                <article class="post-categories center-align">
                    <div class="chip {{ site.color.chips }} white-text">Categories</div>
                    {% for cat in page.categories %}<div class="chip">{{ cat }}</div> {% endfor %}
                </article>
                <article class="grey-text text-darken-2 post-content">
                    {{ content }}
                </article>
                <article class="post-comment">
                    {% include comments.html %}
                </article>
            </div>
        </div>
    </div>
</div>
</div>
